@model Excercise12Garage2.Models.ViewModels.VehicleReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div class="container mt-0">
    <h2> Receipt for @Model.RegistrationNumber</h2>
    <div class="col-md-4">
        <table>
            <tr>
                <td>
                    <b>Arrivale time: </b>
                </td>
            </tr>
            <tr>
                <td>
                    @Model.CheckIn
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total parking time: </b>
                </td>
            </tr>
            <tr>
                <td>
                    @*Model.ParkedTime*@
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total cost: </b>
                </td>
            </tr>
            <tr>
                <td>
                    @*@Model.Price*@
                </td>
            </tr>
        </table>

    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
