@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="w-25">@ViewData["Title"]</h1>

    <div class="row ml-3">
        <h2>Garage-Application</h2>
        <p>
            Asp.Net MVC application. keywords: Asp.net MVC, C#, Entity Framework, JavaScript, HTML5, CSS3, Bootstap
            The application has to do with Garage handling. The user will be able to park and unpark one of the four vehicle types i.e. airplane, car, motorcycle and boat which we use in the application.
            At the same time the user should have full information about the parking time, the different types of vehicles allowed at the garage, and the user should also receive a receipt when it is about to unpark.
            Finally the user should have the ability to search different types of vehicles or to search for a particular vehicle using any of it's properties.
        </p>
    </div>
    <div class="row ml-3">
        <div>
            <h2>Who we are?</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <br />

            <div class="container-fluid padding">
                <div class="row padding">
                    <div class="row justify-content-start"></div>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="card bg-transparent text-light">
                                <img class="card-img-top my_img_size" src="~/img/head-avatar.png" alt="Avatar picture" />
                                <div class="card-body">
                                    <h4 class="card-title">Kenneth Okalang</h4>
                                    <p class="card-text">
                                        A full stack developer and specialist in .Net
                                    </p>
                                    <a href="#" class="btn btn-secondary" role="button" titel="Send email" data-toggle="tooltip" data-placement="top" title="Email Kenneth">Send email</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card bg-transparent text-light">
                                <img class="card-img-top my_img_size" src="~/img/head-avatar.png" alt="Avatar picture" />
                                <div class="card-body">
                                    <h4 class="card-title">Saiful Islam</h4>
                                    <p class="card-text">
                                        A full stack developer and specialist in .Net
                                    </p>
                                    <a href="#" class="btn btn-secondary" role="button" titel="Send email" data-toggle="tooltip" data-placement="top" title="Email Saiful">Send email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding mt-4">
                    <div class="row justify-content-start"></div>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="card bg-transparent text-light">
                                <img class="card-img-top my_img_size" src="~/img/head-avatar.png" alt="Avatar picture" />
                                <div class="card-body">
                                    <h4 class="card-title">Joseph Higgins</h4>
                                    <p class="card-text">
                                        A full stack developer and specialist in .Net
                                    </p>
                                    <a href="#" class="btn btn-secondary" role="button" titel="Send email" data-toggle="tooltip" data-placement="top" title="Email Joseph" >Send email</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card bg-transparent text-light">
                                <img class="card-img-top my_img_size" src="~/img/head-avatar.png" alt="Avatar picture" />
                                <div class="card-body">
                                    <h4 class="card-title">Oscar Andersson</h4>
                                    <p class="card-text">
                                        A full stack developer and specialist in .Net
                                    </p>
                                    <a href="#" class="btn btn-secondary" role="button" titel="Send email" data-toggle="tooltip" data-placement="top" title="Email Oscar">Send email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>