@model Excercise12Garage2.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = Model.GarageName;
}

<div class="text-center">
    <h1 class="display-4 w-75">Welcome to @Model.GarageName</h1>
    <h4>Number of vehicles in the garage is @Model.NumberOfVehiclesInGarage</h4>
    <hr/>
    <h4>Please enjoy your time in our garage, thank you! :)</h4>
</div>

@*New git init message*@

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Park Your Car With Us!</h5>
                <p class="card-text">We offer a secure, monitored location in Central Stockholm for your vehicle.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Vehicles" asp-action="Garage">Search For Your Vehicle</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current Rate</h5>
                <p class="card-text"><h5>180</h5> <span class="text-muted">kr/hr</span> </p>
                <a class="btn btn-primary" asp-area="" asp-controller="Vehicles" asp-action="Park">Park Your Vehicle</a>
            </div>
        </div>
    </div>
</div>