@{
    ViewData["Title"] = "Group 3 Garage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Group 3 Garage!</h1>
    <hr/>
    <h4>Please enjoy your time in our garage, thank you! :)</h4>
</div>

@*New git init message*@